@model Demo9.Models.Personne

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personne</h4>
    <hr />
    @Html.Partial("UserDetailsView", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
