@model TPModule5_2.Models.PizzaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="form-horizontal">
    @Html.Partial("_PizzaDisplayWithId")
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pizza.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
